
ProjectNinobiGGJ2022/UserSettings/EditorUserSettings.asset
ProjectNinobiGGJ2022/Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
ProjectNinobiGGJ2022/Logs/ApiUpdaterCheck.txt
ProjectNinobiGGJ2022/Logs/shadercompiler-UnityShaderCompiler.exe0.log
